__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
venv/
.venv/
env/
*.egg-info/
dist/
build/

venv

data/*.json
data/*.csv
!data/.gitkeep

postgres_data/
airflow_logs/
airflow_plugins/

airflow/logs/
airflow/*.db
airflow/*.cfg
airflow/*.pid

.DS_Store
Thumbs.db
desktop.ini

.vscode/
.idea/
*.swp
*.swo